/* src/App.css */

.App {
  text-align: center;
}

.hero-image-background {
  /* HIER: Absoluter Pfad mit Ihrem korrekten Dateinamen */
  background-image: url('/publichero-background.jpg'); 
  
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
/* ... (Restliche, ungenutzte Regeln, falls vorhanden) */